
.container {

    width: 1100px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto-Light', arial, sans-serif;
    font-size: 18px;
    color: #221f1f;

}

.main {
    width: 900px;
    float: right;

}

.menu {
    float: left;
}


/*прибиваем футер*/

html,
body {
    height: 100%;
    width: 100%;
    overflow: visible;
}



.footer {
    height: 75px;
	min-width: 1100px;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -75px;
    position: relative;
	overflow: hidden;
	min-width: 1100px;
}

.wrapper:after {
    content: '';
    display: block;
    height: 75px;
}

/* /прибиваем футер*/

.clearfix,
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}