.footer {

    background-color: #4b73b5;

}

.footer .container {

    position: relative;
}

.footer__content {
    float: left;
    width: 295px; /*300*/

    font-size: 14px;
    line-height: 18px;
    color: #fff;
    margin: 0;
    padding: 0;


}

.footer__text {
    padding: 11px 6px 0 20px;
    margin: 0;
}

.footer__content-link {
    font-family: 'Roboto-Bold', Arial, sans-serif;
    color: #fff;

}

.footer__content-link:hover {
    color: #9ec0f7;
}

.footer__autor {
    font-family: 'Roboto-Bold', Arial, sans-serif;
}

.footer__logo {
    position: absolute;
    top: 20px;
    left: 490px;
}



.footer__social {
    float: right;
    margin-top: 19px;
    margin-right: 17px;
}


.footer__social-title {
    font-family: 'Roboto-Bold', Arial, sans-serif;
    font-size: 14px;
    color: #fff;

}

.footer__social-list .footer__social-item {
    display: inline-block;
    margin-top: 5px;
}

.footer__social-list {
    margin: 0;
    padding: 0;

}

.footer__social-item {

    margin-right: 6px;
}

.footer__socialicon-circle {

    width: 20px;
    height: 20px;
    background-color: #d2def3;
    border-radius: 50%;
    text-align: center;


}


.footer__socialicon-circle:hover {
    background-color: #fff;
}

.footer__social-item:first-child .footer__socialicon-circle {
    background-image: url(../../img/footer_vk.png);
    background-repeat: no-repeat;
    background-position: center;
}


.footer__social-item:nth-child(2) .footer__socialicon-circle {
    background-image: url(../../img/footer_fb.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer__social-item:nth-child(3) .footer__socialicon-circle {
    background-image: url(../../img/footer_google.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer__social-item:nth-child(4) .footer__socialicon-circle {
    background-image: url(../../img/footer_twitter.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer__social-item:last-child .footer__socialicon-circle {

    background-image: url(../../img/footer_mail.png);
    background-repeat: no-repeat;
    background-position: center;
}