.partners__list .partners__item {
	display: inline-block;
}

.partners__list {
	margin: 0;
	padding: 0;
	margin-left: -30px;
	margin-bottom: 40px;

}



.partners__item {
	

	margin: 0;
	padding: 0;
	width: 270px;
	margin-left: 30px;
	vertical-align: middle;
	margin-bottom: 60px;
	text-align: center;

}



.partners__link {
	
	display: inline-block;
	filter: grayscale(100%);

}


.partners__link:hover {
	filter: none;
}
