.tariffs__title {
	font-family: 'Roboto-Bold', Arial, sans-serif;
	font-size: 49px;
	text-transform: capitalize;


	margin-bottom: 21px;
	padding: 0;

}

.tariffs__list {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.tariffs__list .tariffs__item {
	display: inline-block;

}


.tariffs__item {
	padding-top: 40px;
	width: 250px;
	margin-right: 13px;
	margin-top: 0;
	transition-duration: 0.5s;
	cursor: pointer;
	border: 1px solid transparent;

}

.tariffs__item:hover {
	border-radius: 5px;
	border: 1px solid #e8e9ed;
}


.tariffs__icon {
	background-color: #4b73b5;
	border-radius: 50%;
	width: 66px;
	height: 66px;
	text-align: center;

	margin: 0 auto;
	margin-bottom: 35px;
	position: relative;



}

.tariffs__item:nth-child(2) .tariffs__icon {
	background-color: #4b73b5;
	border-radius: 50%;
	width: 72px;
	height: 72px;
}

.tariffs__icon-img {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-image: url(../../img/spritesheet.png);
	background-repeat: no-repeat;

}

.tariffs__item:first-child .tariffs__icon-img {
	width: 27px;
	height: 31px;
	background-position: -341px -5px;


}

.tariffs__item:nth-child(2) .tariffs__icon-img {
	width: 32px;
	height: 32px;
	background-position: -416px -5px;
}

.tariffs__item:last-child .tariffs__icon-img {
	width: 28px;
	height: 29px;
	background-position: -378px -5px;
}



.tariffs__class {
	font-family: 'Roboto-Bold', Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}


.tariffs__text {


	line-height: 30px;
	margin-left: 40px;
	margin-bottom: 0px;
	text-indent: 5px;
	padding: 0;
}



.tariffs__description-list {
	list-style: disc inside;
	line-height: 35px;

	padding-left: 23px;



}


.tariffs__price {
	font-family: 'Roboto-Regular', arial, sans-serif;
	font-size: 53.89px;
	color: #212121;

	text-align-last: center;
	margin-top: 17px;
	margin-bottom: 50px;

}


.tariffs__dollar {
	font-size: 32px;

}
